<template name="ideaListing">
    <a href="#" style="background-image: url('http://placehold.it/200x150')"></a>
    <div>
        <h2><a href="#">{{summary}}</a></h2>
        <p>{{description}}</p>
        <p>
        	<a href="#"><span class="glyphicon glyphicon-thumbs-up text-success"></span></a>&nbsp;{{likes_count}}
        	
        	<span class="glyphicon glyphicon-thumbs-down text-warning"></span>&nbsp;{{dislikes_count}}
        </p>
		<a href="#" class="read-more">View Details &rarr;</a>
    </div>
 </template>