<template name="App_body">
<header class="main-header">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Some Fancy Name</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link 1<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link 2</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Link 3 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Some Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Welcome Gururaj</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
<aside class="main-sidebar">
<section class="sidebar">
WEcome
</section>
  {{> Template.dynamic template=main}}
</aside>  
</template>
