<template name="sideMenu">
 <div class="cell" id="cell-sidebar" style="height: 100%">
    <ul class="sidebar2 dark">
		<li class="title">Quick Selection</li>
		<li class="active"><a href="#"><span class="mif-home icon"></span>Dashboard</a></li>
		<li class="stick bg-red"><a href="{{ pathFor 'createIdea' }}"><span class="mif-cog icon"></span>Create Idea</a></li>
		<li class="stick bg-green">
		    <a class="dropdown-toggle" href="#"><span class="mif-tree icon"></span>Browse Idea</a>
		    <ul class="d-menu" data-role="dropdown">
		        <li><a href=""><span class="mif-vpn-lock icon"></span>Top Rated</a></li>
		        <li><a href="">Most Liked</a></li>
		        <li><a href="">Most Active</a></li>
		        <li><a href="">Subitem 4</a></li>
		        
		    </ul>
		</li>
			
		<li class="title">Categories</li>
		<li><a href="#">Category Item 1</a></li>
		<li><a href="#">Category item 2</a></li>
		<li><a href="#">Category item 3</a></li>
    </ul>
 </div>
</template>